.archive-tile {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 0px;
  margin: 10px;

  .box  {
    margin: 0px;
    display: flex;
    align-items: center;
    box-shadow: none;

    span {
      text-align: center;
      font-weight: 700;
      font-size: 3.5em;
      padding: 0 .2em 0 .2em;
    }
    span small {
      color: #888;
      font-weight: normal;
      display:block;
    }

    .year {
      color: lighten(gray, 10%);
      font-style: italic;
      text-align: left;
      margin-bottom: 0px;
      padding: 0 .4em 0 .4em;

      font-weight: 900;
      font-size: 3em;
      background: -webkit-linear-gradient(darken(gray, 20%), #fff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      small {
        color: darken(gray, 20%);
        font-weight: 700;
        font-size: .5em;

        margin-top: -1em;
        padding-left: .4em;
        display:block;

        -webkit-text-fill-color: currentcolor;
      }
    }
  }
}
